* {
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  margin: auto;
}

.list-search {
  width: auto;
  float: right;
}

.list-search input {
  border: 2px solid #000;
  border-right: 0;
  max-width: 200px;
  height: 100%;
}

.list-search .btn:disabled {
  height: 100%;
  border: 2px solid #000;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-left: 0;
  opacity: 1;
  background-color: #fff;
  cursor: default;
}

.form-buttons {
  float: right;
}

.form-buttons .btn {
  margin-left: 1em;
}

.search-msg {
  text-align: center;
  font-size: 1.3rem;
  padding: 1em;
}

.logo {
  max-height: 50px;
}
